<!DOCTYPE html>
<html>
<head>
    <title>
        Books
    </title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>



{% if book %}
<h1>Book with id: {{id}}</h1>
<table class="customTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Number of views</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ book.id }}
        </td>
        <td>
            {{ book.title }}
        </td>
        <td>
            {{ book.author }}
        </td>
        <td>
            {{ book.count_find }}
        </td>
    </tr>
    </tbody>
</table>
{% else %}
<h2> Sorry, no books with id {{id}}.</h2>
{% endif %}

</body>
</html>
