{% extends "base.html" %}

{% block content %}
<div class="form-style-10">
    <h1>Find books<span>Feel the field and find books of author!</span></h1>
    <form action="/author" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="section"><span>2</span>Author full name</div>
        <div class="inner-wrap">
            <label>Author full name<input type="text" name="author_name"/></label>
        </div>

        <div class="button-section">
            <input type="submit" name="Find books"/>
        </div>
    </form>
</div>
{% endblock %}